/*ENCABEZADO*/
.encabezado{
	background:#2E2E2E;
	padding: 0 200px;
	color:#fff;
}
ul{
	list-style:none;
}			
.menu > li {
	float:right;
	margin:5px;
}		
.menu li a {
	text-decoration:none;
	padding:10px 5px;
	display:block;
	color: #fff;
}			
.menu li a:hover {
	color: #FF0040;
}			
.menu li ul {
	display:none;
	position:absolute;
	width:140px;
}			
/*FIN DE ENCABEZADO*/			
/* EMPIEZA CUERPO*/
.cuerpo{
	padding: 0 200px;
	background: #fff;
}
.edificio{
	padding: 5px;
}
.edificio img{
	height: 350px;
	width: 460px;
}
.edificio button{
	margin:15px 0;
	border-radius: 20px;
	width: 100px;
	height: 20px;
}
.galeria{
	text-align: center;
}
.galeria li{
	display: inline-block;
	width: 320px;
	margin: 10px 5px;
	text-align: justify;
}
.galeria img{
	height: 130px;
	width: 100%;
}
.galeria-bot button{
	height: 20px;
	width: 100px;
	margin: 20px 300px;
	border-radius: 20px;
}
.frase i{
	font-size: 100px;
}
.frase button{
	margin: 10px 20px;
}
.frase h5{
	margin: 50px 5px;
}
.frase a{
	color:#FF0040;
}
.pie{
	background:#2E2E2E;
	padding: 0 200px;
	color:#fff;
}
.pie a{
		color:#FF0040;
}
.pie h5{
	padding:20px 0px;
}
.uno{
	margin: 20px 0;
}
.uno i{
	border:1px dashed #fff;
	border-radius: 30px;
	color:#fff;
	font-size: 20px;
	padding: 5px;
	width: 30px;
	text-align: center;
}
.uno p {
	text-align: center;
}
.dos, .tres p{
	font-size: 12px;
	padding: 20px 0;
}
.tres{
	text-align: center;
}



